* {
    box-sizing: border-box;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1000px;
    height: 100vh;
    margin: 0 auto;
    border: 10px #b71c1c solid;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}

.main-header {
    width: 100%;
    height: 200px;
    background-color: #b71c1c;
    display: flex;
}

.main-header-edge {
    display: block;
    width: 40%;
    height: 100%;
}

.top-spacer {
    width: 100%;
    height: 50%;
}

.top-nav {
    width: 100%;
    height: 50%;
    display: flex;
    border-bottom: 10px #b71c1c solid;
    align-items: flex-end;
}

.nav-button-holder {
    width: 100%;
    height: 50%;
    display: flex;
}

li {
    list-style: none;
}

.nav-button {
    width: 50%;
    height: 100%;
}

.nav-button a {
    width: 100%;
    height: 100%;
    font-size: 1.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    text-decoration: none;
    color: rgba(255, 255, 255, .87);

}

.nav-button a:hover {
    background-color: #fff;
    color: #b71c1c;
}

#mid-header {
    width: 200px;
    height: 100%;
}

.picture-frame {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* clip-path for S-diamond: polygon(0% 24.09%, 17.41% 0%, 82.59% 0%, 100% 24.09%, 50% 74.86%); */

#profile-picture {
    width: 100%;
    clip-path: polygon(0% 36.09%, 17.41% 12%, 82.59% 12%, 100% 36.09%, 50% 86.86%);
    -webkit-clip-path: polygon(0% 36.09%, 17.41% 12%, 82.59% 12%, 100% 36.09%, 50% 86.86%);
    -moz-clip-path: polygon(0% 36.09%, 17.41% 12%, 82.59% 12%, 100% 36.09%, 50% 86.86%);
}